# ========= FastAPI =========
fastapi==0.115.0
uvicorn==0.30.1

# ========= Core =========
numpy==1.26.4
cython==3.0.10
setuptools==75.2.0
wheel==0.44.0
pip==25.0.1

# ========= NLP & Transformers =========
# ملاحظة: spaCy يُثبت في Build Command (خارج الملف)
transformers==4.43.1
sentence-transformers==3.0.1
scikit-learn==1.4.2

# ========= Web =========
requests==2.32.3
beautifulsoup4==4.12.3

# ========= Database =========
sqlalchemy==2.0.31
pandas==2.2.2

# ========= Utils =========
python-multipart==0.0.9
tqdm==4.66.5
pydantic==2.9.1
jinja2==3.1.4
aiohttp==3.9.5
